a {
    color: #ff5c5c;
}

.preload {
    visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%
}

.preload-center {
    width: 50%;
    height: 50%;
    position: absolute;
    margin: auto;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.preload.activate {
    visibility: visible;
}

.popup-intro {
    background: #8A8394;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in;
    align-items: center;
    justify-content: center;
    scrollbar-color: black #1a237e;
    scrollbar-width: auto;
}

.popup-intro-content {
    position: relative;
    width: 700px;
    height: 530px;
    border-radius: 10px;
    background: linear-gradient(180deg, #000066 0%, #8a89cd 0%, #000066 0%, #000066 0%, #8a89cd 0%, #000066 0%, #000066 0%, #8a89cd 0%, #000066 0%, #000066 0%, #8a89cd 0%, #000066 0%, #000066 13%, #8a89cd 74%, #000066 100%), radial-gradient(ellipse at 50% 50%, #000066 0%, #a10031 43%, #000066 72%);
    background-blend-mode: lighten, soft-light; 
    visibility: hidden;
    opacity: 0;
    overflow: auto;
    transition: .5s ease-in;
    color: white;
    scrollbar-color: black #1a237e;
    scrollbar-width: auto;
}

.popup-intro-content.activate {
    visibility: visible;
    opacity: 1;
}

.popup-intro.activate {
    visibility: visible;
    opacity: .95;
}

.popup-links {
    color: #268c4a;
}

.popup-success {
    top: 50px;
    left: 500px;
    position: fixed;
    width: 480px;
    height: 100px;
    border-radius: 13px;
    background: black;
    visibility: hidden;
    opacity: 0;
    overflow: auto;
    transition: 1s ease-in;
}

.popup-success.activate {
    visibility: visible;
    opacity: .98;
}

.sidebar {
    width: 0; 
    position: fixed;
    top: 0; 
    left: 0;
    bottom: 0;
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.8s;
    opacity: .97;
    background: radial-gradient(ellipse at 100% 50%, #000 18%, #000000 26%, #68004e 100%), linear-gradient(360deg, #000000 0%, #000066 73.89%);
    background-blend-mode: lighten, normal; 
    scrollbar-color: black #1a237e;
    scrollbar-width: auto;
}

.sidebar p {
    color: white;
}

.sidebar .closebtn {
    float: right;
    font-size: 36px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
} 

#feature-info {
    color: white;
    padding: 15px;
    left: 20px;
    min-height: 200px;
    background: black;
}

#map-container {
    transition: left 1s;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.primary {
    color: #536dfe;
}

.popup-header {
    background: black;
    color: white;
    font-size: 23px;
}

.artist-count {
    font-size: 15px;
    color: grey;
    float: right;
}

.custom-content {
    margin-top: 20px;
    color: white;
    font-size: 20px;
}

.top-genres {
    margin-top: -20px;
    font-size: 15px;
    padding-left: 50px;
}

.mapboxgl-marker:hover {
    cursor: pointer;
}

.mapboxgl-popup-content-wrapper {
    padding: 1%;
    background: rgb(230, 107, 128);
}

.mapboxgl-popup-content h3 {
    background: black;
    color: white;
    margin: 0;
    display: block;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
}

.mapboxgl-popup-content {
    background: rgb(230, 107, 128) !important;
    box-shadow: rgb(230, 107, 128) !important;
    border-color: rgb(230, 107, 128) !important;
    opacity: .97;
}

.mapboxgl-popup-content h4 {
    margin: 0;
    display: block;
    padding: 10px;
    font-weight: 400;
}

.mapboxgl-popup-tip {
    border-color: rgb(230, 107, 128);
}

.mapboxgl-popup-content div {
    padding: 10px;
    border-radius: 3px;
    background: black;
}

.mapboxgl-container .leaflet-marker-icon {
    cursor: pointer;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: rgb(230, 107, 128) !important;
    opacity: .97;
    }
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: rgb(230, 107, 128) !important;
    opacity: .97;
    }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: rgb(230, 107, 128) !important;
    opacity: .97;
    }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: rgb(230, 107, 128) !important;
    opacity: .97;
    }

@media screen and (max-width: 640px) {
    .popup-intro-content {
        width: 400px;
        height: 440px;
    }
}