a {
    color: #ff5c5c;
}

.sidebar {
    width: 0; 
    position: fixed;
    top: 0; 
    left: 0;
    bottom: 0;
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.8s;
    opacity: .97;
    background: radial-gradient(ellipse at 100% 50%, #000 18%, #000000 26%, #68004e 100%), linear-gradient(360deg, #000000 0%, #000066 73.89%);
    background-blend-mode: lighten, normal; 
    scrollbar-color: black #1a237e;
    scrollbar-width: auto;
}

.sidebar p {
    color: white;
}

.sidebar .closebtn {
    float: right;
    font-size: 36px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
} 

#feature-info {
    color: white;
    padding: 15px;
    left: 20px;
    min-height: 200px;
    background: black;
}

#map-container {
    transition: left 1s;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.primary {
    color: #536dfe;
}

.popup-header {
    background: black;
    color: white;
    font-size: 23px;
}

.artist-count {
    font-size: 15px;
    color: grey;
    float: right;
}

.custom-content {
    margin-top: 20px;
    color: white;
    font-size: 20px;
}

.top-genres {
    margin-top: -20px;
    font-size: 15px;
    padding-left: 50px;
}

.mapboxgl-marker:hover {
    cursor: pointer;
}

.mapboxgl-popup-content-wrapper {
    padding: 1%;
    background: rgb(230, 107, 128);
}

.mapboxgl-popup-content h3 {
    background: black;
    color: white;
    margin: 0;
    display: block;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
}

.mapboxgl-popup-content {
    background: rgb(230, 107, 128) !important;
    box-shadow: rgb(230, 107, 128) !important;
    border-color: rgb(230, 107, 128) !important;
    opacity: .97;
}

.mapboxgl-popup-content h4 {
    margin: 0;
    display: block;
    padding: 10px;
    font-weight: 400;
}

.mapboxgl-popup-tip {
    border-color: rgb(230, 107, 128);
}

.mapboxgl-popup-content div {
    padding: 10px;
    border-radius: 3px;
    background: black;
}

.mapboxgl-container .leaflet-marker-icon {
    cursor: pointer;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: rgb(230, 107, 128) !important;
    opacity: .97;
    }
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: rgb(230, 107, 128) !important;
    opacity: .97;
    }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: rgb(230, 107, 128) !important;
    opacity: .97;
    }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: rgb(230, 107, 128) !important;
    opacity: .97;
    }
