{% load static %}
<ul>
    <li>
        <a href='#' class='btn-floating btn-medium tooltipped red' data-position='left' data-tooltip='Search' id='open-intro'>
        <i class='medium material-icons'>search</i>
        </a>
    </li>
    {% comment %} <li>
        <a href='#' class='tooltipped btn-floating btn-medium indigo' data-position="left" data-tooltip="Make a new map" id='newLocation'>
        <i class='medium material-icons'>map</i>
        </a>
    </li> {% endcomment %}
    {% if sp_token %}
    <li>
        <a href='#' class='btn-floating btn-medium green tooltipped' data-position="left" data-tooltip="Make a Spotify playlist" id='createPlaylist'>
        <img src="{% static 'img/Spotify_Icon_RGB_White.png' %}" style='max-width: 22px; padding-top: 9px;'>
        </a>
    </li>
    {% else %}
    <li>
        <a href='https://bandmapv2.herokuapp.com/spotify/redirect' class='btn-floating btn-medium green tooltipped' data-position="left" data-tooltip="Authroize BandMap" id='spotifyAuth'>
        <img src="{% static 'img/Spotify_Icon_RGB_White.png' %}" style='max-width: 22px; padding-top: 9px;'>
        </a>
    </li>
    {% endif %}
    {% comment %} <li>
        <a href='#modal1' class='btn-floating btn-medium blue tooltipped modal-trigger' data-position='left' data-tooltip='Help and Info'>
        <i class='medium material-icons'>info_outline</i>
        </a>
    </li> {% endcomment %}
</ul>