
<form method='POST'>
    {% csrf_token %}
    <div class='row' style='padding-top: 40px;'>
        <div class='input-field col s6'>
            {{contact_form.name}}
            <label class='active' for='name'>Your Name</label>
        </div>
        <div class='input-field col s6'>
            {{contact_form.subject}}
            <label class='active' for='subject'>Subject</label>
        </div>
    </div>
    <div class='row'>
        <div class='input-field col s6'>
            {{contact_form.sender}}
            <label class='active' for='sender'>Your Email</label>
        </div>
    </div>
    <div class='row'>
        <div class='input-field col s6 l12'>
            {{contact_form.message}}
        </div>
    </div>
    <div class='row center'>
        <button class='btn waves-effect red' type='submit' name='contact'>Send <i class='tiny material-icons right'>send</i></button>
    </div>
</form>
