
{% load static %}
<style>
h6 {
    font-wieght: 800;
}
</style>
<div class='row valign-wrapper'>
    <div class='col m6 s12 center'>
            <i class='large material-icons'>search</i>
    </div>
    <div class='col m6 s12'>
        <h6 class='primary'>Search locations</h6>
        <p>Toggle the searchbar display so you can go to new locations. Most regions have artists from Bandcamp, 
        but not all of them.</p>
    </div>
</div>

<div class='row valign-wrapper'>
    <div class='col m6 s12 center'>
        
            <i class='large material-icons'>map</i>
        
    </div>
    <div class='col m6 s12'>
        <h6 class='primary'>Make a new map</h6>
        <p>Populate the map with artists from a new location. If the center of the map is on a border of a state or country, 
        move the map so that the center is on the region you'd like to build a map for.</p>
    </div>
</div>

<div class='row valign-wrapper'>
    <div class='col m6 s12 center'>
        
            <img src="{% static 'img/Spotify_Icon_RGB_White.png' %}" style='max-width: 32%;'> 
        
    </div>
    <div class='col m6 s12'>
        <h6 class='primary'>Create a Spotify playlist</h6>
        <p>This takes you to the Spotify sign-in page to authorize BandMap to make playlists.
        After authorizing, you can make a playlist containing the top songs from all the artists in the selected city.</p>
    </div>
</div>

<div class='row valign-wrapper'>
    <div class='col m6 s12 center'>
        
            <i class='large material-icons'>info</i>
        
    </div>
    <div class='col m6 s12'>
        <h6 class='primary'>Info</h6>
        <p>Bring up this window again, just in case you need it.</p>
    </div>
</div> 