<div class='row' style='padding-top: 40px;'>
    <div class='input-field col s12 l6'>
        <select id='changeStyle'>
            <option value='mapbox://styles/mapbox/dark-v10'>Dark</option>
            <option value='mapbox://styles/mapbox/light-v10'>Light</option>
        </select>
        <label>Map Style</label>
    </div>
</div>

<div class='row' id='filter'>
    {% csrf_token %}
    <div class='chips'></div>
        <label>Type a genre and press enter (2 max)</label>
</div>
<div class='row center'>
    {% comment %} <div class='col s6'>
    <p>
        <label>
        <input class='with-gap' name='mode' value='discovery' type='radio' />
            <span style='color: white;'>Discovery Mode</span>
        </label>
    </p>
    <p style='color: black;'>Filter artists by genre(s), music previews, less city stats</p>
    </div>
    <div class='col s6'>
    <p>
        <label>
        <input class='with-gap' name='mode' value='insights' type='radio' />
            <span style='color: white;'>Insights Mode</span>
        </label>
    </p>
    <p style='color: black;'>No genre filter, no music previews, more city stats</p>
    </div> {% endcomment %}
    <button class='btn red' type='submit' name='filter' id='options'>Save</button>
</div>