<div class='row' style='padding-top: 40px;'>
    <div class='input-field col s12 l6'>
        <select id='changeStyle'>
            <option value='mapbox://styles/mapbox/dark-v10'>Dark</option>
            <option value='mapbox://styles/mapbox/light-v10'>Light</option>
        </select>
        <label>Map Style</label>
    </div>
</div>

<div class='row center'>
    <form method='POST'>
        {% csrf_token %}
        <div class='input-field col s12 l6'>
                {{filter_form.genre1}}
            <label>Genre 1</label>
        </div>
        <div class='input-field col s12 l6'>
                {{filter_form.genre2}}
            <label>Genre 2</label>
        </div>
        <div class='row'>
            <p>WARNING: building maps without a genre to filter the artists will result in sluggish performance in densly populated regions.</p>
        </div>
        {% comment %} 

        <div class='row'>
            Big Map Mode
            <div class='switch'>
                <label>
                Off
                <input type='checkbox'>
                <span class='lever'></span>
                On
                </label>
            </div>
        </div> 
        
        {% endcomment %}
        <button class='btn red' type='submit' name='filter' id='options'>Save</button>
    </form>
</div>