{% load static %}
<style>
img {
    filter: grayscale(100%);
    opacity: 80%;
    transition: 1s ease-in;
    max-width: 64px;
}
img:hove {
    opacity: 100%;
}
</style>

<div class='row center'>
    <div class='col s6'>
        <a class='popup-links' href='https://github.com/xxristoskk/bandmap'><img src="{% static 'img/GitHub-Mark-Light-64px.png' %}"></a>
    </div>
    <div class='col s6'>
        <a class='popup-links' href='https://qri.cloud/xristosk/bandcamp_artists'><img src="{% static 'img/qri_data_snuggle_icon.png' %}"></a>
    </div>
</div>
<div class='row center'>
    <div class='col s6'>
        <p class='primary'>Source Code</p>
    </div>
    <div class='col s6'>
        <p class='primary'>Qri Dataset</p>
    </div>
</div>

<div class='row'>
    <p>BandMap is not affilated at all with Bandcamp. All of the data on BandMap came from what the artists provide on their Bandcamp page. 
    Artists could change genres or locations, which may lead to incorrect or incomplete data. If you are an artist on Bandcamp, and see  
    incorrect or missing information, send an email with the corrections.</p>
</div>