{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/materialize.css' %}">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>BandMap</title>
</head>
<body>
    <style>
    @font-face {
        font-family: "Megrim";
        src: url("{% static 'css/fonts/Megrim-Regular.ttf' %}");
    }
    </style>
    {% csrf_token %}

    <div id='map-container'></div>

    <div id='modal1'>
        <div class='modal-content'>
            {% include 'includes/info.html' %}
        </div>
    </div>

    <div class='popup-success' id='success'>
        <div class='row center'>
            <h4 class='primary'>Your playlist is ready!</h4>
        </div>
    </div>

    <div class='popup-intro' id='intro'>
        <div class='popup-intro-content' id='intro' name='options'>
            {% comment %} <div class='row center'>
                <div class='col s12'>

                {% if not first_visit %}

                    <ul class='tabs tabs-fixed-width'>
                        <li class='tab col s3'><a href='#welcome-tab' class='active'>Weclome</a></li>
                        <li class='tab col s3'><a href='#info-tab'>Help</a></li>
                        <li class='tab col s3'><a href='#options-tab'>Settings</a></li>
                        <li class='tab col s3'><a href='#sources-tab'>Sources</a></li>
                        <li class='tab col s3'><a href='#contact-tab'>Contact</a></li>
                    </ul>

                {% endif %}
                </div>
            </div> {% endcomment %}
            <div class='container' id='welcome-tab'>
                <div class='row center'>
                    <header class='header'>
                        <h1 class='primary' style='text-shadow: 2px 2px 5px black; font-family: "Megrim";'>BandMap</h1>
                        <h5 style='color: black;'><b>A way to explore Bandcamp on a map.</h5></b>

                <div class='row left-align' id='filter'>
                    {% csrf_token %}
                    <div class='chips chips-autocomplete' id='chips-input'></div>
                </div>
                <div class='row left-align'>
                    <input type='text' id='location'>
                </div>
                <div class='row center'>
                    <button class='btn red' type='submit' name='filter' id='save-data'>Build Map</button>
                </div>

{% comment %} 
                {% else %}

                    <p>Each circle represents a city. 
                    Hovering over a city will let you know how many artists are there and which genres are most popular to make. Clicking on a city 
                    will display all of the artists, a link to their Bandcamp page, their genre, and a music player (if available).
                    Additionally, you can click the Spotify button in the menu on the lower right corner to make a playlist of those artists' top tracks.</p>
                    <p>In the <span style='color: black;'>Help</span> tab you will find details on what the buttons do. The <span style='color: black;'>Settings</span> tab will allow
                    you to change the genre filter and choose the style of the map.</p>

                {% endif %} {% endcomment %}
                    </header>
                </div>
            </div>

            {% comment %} {% if not first_visit %}

                <div class='container' id='info-tab'>
                    {% include 'includes/info.html' %}
                </div>
                <div class='container' id='options-tab'>
                    {% include 'includes/options.html' %}
                </div>
                <div class='container' id='sources-tab'>
                    {% include 'includes/sources.html' %}
                </div>
                <div class='container' id='contact-tab'>
                    {% include 'includes/contact.html' %}
                </div>

            {% endif %} {% endcomment %}
        </div>
    </div>

    <div id='sideFeats' class='sidebar'>
        {% csrf_token %}
        <div id='city'></div>
        <ul class='tabs tabs-fixed-width' style='overflow-x: hidden;'>
            <li class='tab col s6'><a href='#artists-tab' class='active'>Artists</a></li>
            <li class='tab col s6'><a href='#city-tab'>City Stats</a></li>
        </ul>
        <div class='container' id='city-tab'>
            <div id='cityStats'></div>
        </div>
        <div class='container' id='artists-tab'>
            <ul id='artists' class='collapsible expandable'></ul>
        </div>
    </div>

    {% if not first_visit %}

    <div class='fixed-action-btn'>
        <a href='#' class='btn-floating btn-large pulse indigo darken-4'>
        <i class='large material-icons'>menu</i>
        </a>
        {% include 'includes/buttons.html' %}
    </div>

    {% endif %}

    <div class='preload'>
        <div class='preload-center'>
            <div class='row center valign-wrapper'>
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-red-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{location|json_script:'loc'}}
    {{geo|json_script:'geojson'}}
    {{sp_token|json_script:'sp_token'}}
    {{mapbox|json_script:'token'}}
    {% comment %} {{genres|json_script:'genres'}} {% endcomment %}
    {{first_visit|json_script:'first_visit'}}

    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css" type="text/css">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
    <script src="{% static '/js/map.js' %}"></script>
    <script>

        // CLOSE SIDEFEATS
        function closeNav() {
            document.querySelector('#sideFeats').style.width = '0'
            document.querySelector('#map-container').style.left = '0'
        }

        // MATERIALIZE COLLAPSIBLE
        var elem = document.querySelector('.collapsible.expandable');
        var instance = M.Collapsible.init(elem, {
            accordion: false
        })
        
        M.AutoInit()

        // OPEN POPUP
        function popupIntro() {
            if (document.querySelector('#intro').classList.contains('activate')) {
                document.querySelector(".popup-intro.activate").classList.remove('activate')
                document.querySelector('.popup-intro-content').classList.remove('activate');
            } else {
                document.querySelector(".popup-intro").classList.add('activate')
                document.querySelector('.popup-intro-content').classList.add('activate');
            }
        }

        document.querySelector('#open-intro').addEventListener('click', popupIntro)

        // CLOSE POPUP
        document.addEventListener("click", function(e) {
        if (e.target == document.querySelector(".popup-intro.activate") || e.target == document.querySelector('.popup-success.activate')) {
            document.querySelector(".popup-intro.activate").classList.remove('activate')
            document.querySelector('.popup-intro-content').classList.remove('activate')
        } else if (e.target == document.querySelector('.popup-success.activate')) {
            document.querySelector('.popup-success.activate').classList.remove('activate')
        }
        })

        // GOOGLE AUTOCOMPLETE
        function PlaceSearch () {
            var input = document.getElementById('location')
            var autocomplete = new google.maps.places.Autocomplete(input)
        }
        
    </script>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7RBQF-xFcHCqBsiPQ43SsvBRe097QRco&libraries=places&callback=PlaceSearch">
    </script>
</body>
</html>