{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/materialize.css' %}">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>BandMap</title>
</head>
<body>
    <!-- Load the `mapbox-gl-geocoder` plugin. -->
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css" type="text/css">
    
    {% csrf_token %}
    {{location|json_script:'loc'}}
    {{geo|json_script:'geojson'}}
    {{sp_token|json_script:'sp_token'}}
    {{mapbox|json_script:'token'}}
    
    <style>
        .spotify-logo {
            opacity: 50%;
            transition: 1s;
        }
        .spotify-logo:hover {
            opacity: 100%;
        }
    </style>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 

    
    <div id='sideFeats' class='sidebar'>
        {% csrf_token %}
        <div class='container'>
            <div class='row center'>
            {% if sp_token %}
                <p style='color: #8B2635;'>Press the Spotify button from the menu to make a playlist of these artists' top tracks.
            {% else %}
                <p style='color: #8B2635;'>To make Spotify playlists based on selected city, press the Spotify button from the menu at the bottom-right corner. After authorizing, 
                you can start making playlists. You can also build a new map based on the current map center point.</p>
            {% endif %}
            </div>
        </div>
        <div class='divider'></div>
        <ul id='artists' class='primary'>
        </ul>
    </div>

    <div id='map-container'></div>

    <div class='fixed-action-btn'>
        <a href='#' class='btn-floating btn-large pulse indigo darken-2'>
        <i class='large material-icons'>menu</i>
        </a>
        <ul>
            <li>
                <a href='#' class='btn-floating btn-medium tooltipped red darken-4' data-position='left' data-tooltip='Search a new location' id='addSearch'>
                <i class='medium material-icons'>search</i>
                </a>
            </li>
            <li>
                <a href='#' class='tooltipped btn-floating btn-medium indigo' data-position="left" data-tooltip="Make a new map based on current center-point" id='newLocation'>
                <i class='medium material-icons'>map</i>
                </a>
            </li>
            {% if sp_token %}
            <li>
                <a href='#' class='btn-floating btn-medium green tooltipped' data-position="left" data-tooltip="Make a Spotify playlist" id='createPlaylist'>
                <img src="{% static 'img/Spotify_Icon_RGB_White.png' %}" style='max-width: 22px; padding-top: 9px;'>
                </a>
            </li>
            {% else %}
            <li>
                <a href='#' class='btn-floating btn-medium green tooltipped' data-position="left" data-tooltip="Authroize BandMap to make playlists" id='spotifyAuth'>
                <img src="{% static 'img/Spotify_Icon_RGB_White.png' %}" style='max-width: 22px; padding-top: 9px;'>
                </a>
            </li>
            {% endif %}
    <div>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
    <script src="{% static '/js/map.js' %}"></script>
    <script>
        M.AutoInit();
    </script>
</body>
</html>